<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">Choose Option</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>

    <div class="row">
        <div class="col-12">

            <select class="form-control" (change)="rangeselect($event.target.value)">
            <option *ngFor="let opt of this.ApputilsService.ReportingTime" value="{{this.opt}}" >
              {{this.opt}}
            </option>
           </select>
        </div>


        <div class="col-12" *ngIf="showdaterange">
            <label>
                        Choose Date Range
                      </label>
            <ng2-flatpickr [config]="DateRangeOptions" name="DateRange" (onchange)="oncustomdateselect($event.target.value)"></ng2-flatpickr>
        </div>



    </div>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()" rippleEffect>
    View 
  </button>
</div>