<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Responsive Datatable -->
        <section id="ngx-datatable-Responsive">
            <core-card-snippet>
                <div class="row card-title" style="width: 100%">
                    <div class="col-12 pr-0">
                        <span class="card-title">Invoices</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row"></div>

                    <!-- ngx-datatables responsive -->
                    <ngx-datatable #table class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="40" [rowHeight]="58" [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="invoices" [scrollbarH]="true">
                        <ngx-datatable-column name="Amount" prop="amount">
                            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                {{ row.amount | number }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Invoice Due On" prop="invoicedueon">

                            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                {{ row.invoicedueon?.seconds * 1000 | date }}
                            </ng-template>
                        </ngx-datatable-column>








                        <ngx-datatable-column name="Status" prop="invoicepaid">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span class="badge badge-pill badge-light-danger" *ngIf="!row.invoicepaid">Pending</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span class="badge badge-pill badge-light-danger" *ngIf="row.invoicepaid">Paid</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Action">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="mr-1" (click)="dismissdialog()" routerLink="/sales/{{row.planid}}/invoice/{{ row.id }}" container="body" placement="top" ngbTooltip="Preview Invoice"><i size="18" data-feather="eye"></i
                                ></a>
                            </ng-template>

                        </ngx-datatable-column>


                    </ngx-datatable>
                </div>
                <!--/ ngx-datatables responsive -->
            </core-card-snippet>
        </section>
        <!--/ Responsive Datatable -->
    </div>
</div>