<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Responsive Datatable -->
        <section id="ngx-datatable-Responsive">
            <core-card-snippet>
                <div class="row card-title" style="width: 100%">
                    <div class="col-12 pr-0">
                        <span class="card-title">Invoices</span>
                    </div>

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-12 mb-2">
                            <a csvLink [data]="exportCSVData" class="btn btn-outline-secondary float-right mr-1 mb-2" rippleEffect>Export CSV</a
                                >
                            <label>
                            Choose Filter Option
                        </label>
                            <select class="form form-control mt-2" (change)="filterselect($event.target.value)">
                                <option>
                                    {{this.ApputilsService.ThisMonth}}
                                </option>
                                <option>
                                    {{this.ApputilsService.ThisYear}}
                                </option>
                                <option>
                                    {{this.ApputilsService.OverDue}}
                                </option>
                                <option>
                                    {{this.ApputilsService.ThisMonthDue}}
                                </option>
                                <option>
                                    {{this.ApputilsService.ThisMonthPaid}}
                                </option>
                               
                                <option>
                                    {{this.ApputilsService.ThisMonthUpComing}}
                                </option>
                                <option>
                                    {{this.ApputilsService.Due}}
                                </option>
                                <option>
                                    {{this.ApputilsService.Paid}}
                                </option>
                                <option selected>
                                    {{this.ApputilsService.All}}
                                </option>
                                
                            </select>
                        </div>
                    </div>

                    <!-- ngx-datatables responsive -->
                    <ngx-datatable *ngIf="show" #table class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="30" [rowHeight]="35" [footerHeight]="40" rowHeight="auto" [limit]="100" rowHeight="auto" [limit]="10" [rows]="this.customerinvoices" [scrollbarH]="true">
                        <ngx-datatable-column name="Customer" prop="customer">
                           
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Amount" prop="amount">
                            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                {{ row?.amount | number }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Amount Left" prop="amount">
                            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                {{ row?.amountleft | number }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Amount Paid" prop="amount">
                            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                {{ row?.amountpaid | number }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Invoice Due On" prop="invoicedueon">

                            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                {{ row?.invoicedueon | date }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Invoice Paid On" prop="invoicedueon">

                            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                {{ row?.invoicepaidon | date }}
                            </ng-template>
                        </ngx-datatable-column>








                        <ngx-datatable-column name="Status" prop="invoicepaid">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span class="badge badge-pill badge-light-danger" *ngIf="!row.invoicepaid">Pending</span>
                                <span class="badge badge-pill badge-light-success" *ngIf="row.invoicepaid">Paid</span>
                            </ng-template>

                        </ngx-datatable-column>

                        <ngx-datatable-column name="Action">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="mr-1" (click)="dismissdialog()" routerLink="/sales/{{row.planid}}/invoice/{{ row.id }}" container="body" placement="top" ngbTooltip="Preview Invoice"><i size="18" data-feather="eye"></i
                                ></a>
                            </ng-template>

                            </ngx-datatable-column>


                            </ngx-datatable>
                        </div>
                        <!--/ ngx-datatables responsive -->
            </core-card-snippet>
        </section>
        <!--/ Responsive Datatable -->
        </div>
        </div>