@import '@core/scss/base/pages/app-invoice.scss';
.more-options-dropdown {
    white-space: nowrap;
}

$invoiceyellowcolor: #ceb992;
// Preview
// Windows Print Dialogue
@media print {
    @page {
        margin: 0;
        padding: 0;
        size: A4;
    }
    .invoice-actions,
    .main-menu,
    .buy-now {
        visibility: hidden;
    }
    .printRef {
        max-width: 101% !important;
        width: 101%;
        flex: 0 0 100%;
        margin: 0;
        margin: 0;
        padding: 0;
    }
    .header {
        position: fixed;
        top: 0;
    }
}

.invoice-head {
    background: #35363a;
}

.invoice-head p {
    color: white;
}

.invoice-head * {
    color: white;
}

.vl {
    border-left: 1px solid grey;
}

.vl i {
    color: $invoiceyellowcolor !important;
}

.vcparent {
    margin-bottom: 0px;
    vertical-align: middle;
    line-height: 150px;
}

.vcparent h1 {
    vertical-align: middle;
    display: inline-block;
}

table.pl-0 td {
    padding-left: 0px !important;
}

table.pl-color td:first-child {
    background-color: $invoiceyellowcolor;
}

table.pl-color td {
    padding: 0.75rem;
}

.invoice-card {
    box-shadow: none !important;
    border: 1px solid grey !important;
    border-radius: 0px;
}

.invoice-card .card-header {
    background-color: $invoiceyellowcolor;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0rem;
}

.invoice-card .card-header h3 {
    margin-bottom: 0rem;
}

.table-bordered,
.table-bordered td {
    border-color: gray;
}

.color-yellow {
    background-color: $invoiceyellowcolor !important;
}

.br-color-yellow {
    border-color: $invoiceyellowcolor !important;
}

.card .table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0rem;
}