<form [formGroup]="form">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <!-- Responsive Datatable -->
            <section id="ngx-datatable-Responsive">
                <core-card-snippet>
                    <div class="row card-title" style="width: 100%">
                        <div class="col-12 pr-0">
                            <span class="card-title">Change Password</span>
                        </div>
                    </div>

                    <div class="card-body">
                        <span style="color: red">
                          {{ this.error }}
                        </span>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="oldpassword">Previous Password</label>
                                    <input type="password" [class.error]="isSubmit && form.controls.oldpassword.errors" class="form-control" id="oldpassword" formControlName="oldpassword" />
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="password">New Password</label>
                                    <input type="password" [class.error]="isSubmit && form.controls.password.errors" class="form-control" id="password" formControlName="password" />
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="title">Confirm New Password</label>
                                    <input type="password" [class.error]="
                      isSubmit && form.controls.confirmpassword.errors
                    " class="form-control" id="title" formControlName="confirmpassword" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" (click)="onSubmit()" rippleEffect>
                  Change Password
                </button>
                            </div>
                        </div>
                    </div>
                    <!--/ ngx-datatables responsive -->
                </core-card-snippet>
            </section>
            <!--/ Responsive Datatable -->
        </div>
    </div>
</form>