@media print {
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */
    .print-show {
        display: block;
    }
    .print-hide {
        display: none;
    }
}

.fw-800 {
    font-weight: 800;
}

.fw-1200 {
    font-weight: 900;
}

.tables table tr td:first-child {
    background-color: blanchedalmond;
}

.brouchure td {
    border: 1px solid black;
}

$invoiceyellowcolor: #ceb992;
table.pl-color td:first-child {
    background-color: $invoiceyellowcolor;
}

table.pl-color td:nth-child(2) {
    background-color: white;
}

.bt-plan {
    font-size: 9px;
}

.bt-plan span {
    color: white
}