@media print {
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */
    .print-show {
        display: block;
    }
    .print-hide {
        display: none;
    }
}

.fw-800 {
    font-weight: 800;
}

.fw-1200 {
    font-weight: 900;
}