<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <h1 class="text-center print-show hide">
            {{apartment?.name}}
        </h1>



        <div class="row" *ngIf="viewform">

            <div class="col-12 col-md-12 print-hide">
                <core-card-snippet>
                    <div class="card-title">
                        Generate Your Plan
                    </div>

                    <div class="card-body">

                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <!-- select size large -->
                                    <div class="form-group" *ngIf="!this.isupdate">
                                        <ng-select class="ng-select-size-lg" #SelectSizeLarge [ngModelOptions]="{standalone: true}" (change)="onApartmentSelect($event)" [items]="apartmentlist" [(ngModel)]="this.apartment.docid" [searchable]="true" bindLabel="name" bindValue="docid">
                                            <ng-template ng-header-tmp>
                                                <input class="form-control w-100" type="text" (input)="SelectSizeLarge.filter($event.target.value)" />
                                            </ng-template>
                                            <!--/ select size large -->
                                        </ng-select>
                                    </div>

                                </div>
                                <div class=" col-md-6">
                                    <div class="form-group">

                                        <input [(ngModel)]="rate" type="number" [class.error]="
                    isSubmit && form.controls.rate.errors
                  " class="form-control" id="rate" formControlName="rate" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="client">Client Name</label>
                                        <input type="text" [class.error]="
                    isSubmit && form.controls.client.errors
                  " class="form-control" id="client" formControlName="client" required />
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="contact">Contact#</label>
                                        <input type="text" [class.error]="
                  isSubmit && form.controls.contact.errors
                " class="form-control" id="contact" formControlName="contact" required />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-12">
                                    <div class="form-group">
                                        <label for="booking">On Booking </label>
                                        <input type="number" [class.error]="
                isSubmit && form.controls.booking.errors
              " class="form-control" id="booking" max="100" formControlName="booking" required />
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-4 col-12">
                                    <div class="form-group">
                                        <label for="confirmation">On Confirmation</label>
                                        <input type="number" maxlength="2" [class.error]="
                isSubmit && form.controls.confirmation.errors
              " class="form-control" id="confirmation" max="100" formControlName="confirmation" required />
                                    </div>
                                </div>

                                <div class="col-md-3  col-sm-4 col-12">
                                    <div class="form-group">
                                        <label for="agreement">On Agreement</label>
                                        <input maxlength="2" type="number" [class.error]="
                isSubmit && form.controls.agreement.errors
              " class="form-control" id="agreement" max="100" formControlName="agreement" required />
                                    </div>
                                </div>


                                <div class="col-md-3 col-sm-4 col-12">
                                    <div class="form-group">
                                        <label for="possession">On Possession</label>
                                        <input maxlength="2" max="100" type="number" [class.error]="
                isSubmit && form.controls.possession.errors
              " class="form-control" id="possession" formControlName="possession" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="installments">Installment Plan</label>
                                        <select id="installments" formControlName="installments" [ngModel]="this.installmentSelected" [(value)]="this.ApputilsService.InstallmentPlan" class="form-control" required>
                              <option
                              [ngValue]="installment"
                                *ngFor="let installment of ApputilsService.InstallmentPlan"
                                >
                                {{ installment.text }}
                              </option>
                            </select>

                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="plan">No. Of Years</label>
                                        <select id="plan" formControlName="plan" [ngModel]="this.plan" [(value)]="this.ApputilsService.Years[0]" class="form-control" required>
                              <option
                                value="{{ installment}}"
                                *ngFor="let installment of ApputilsService.Years"
                                >
                                {{ installment }}
                              </option>
                            </select>

                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="discount">Discount</label>
                                        <input maxlength="3" max="100" type="number" [class.error]="
                isSubmit && form.controls.discount.errors
              " class="form-control" id="discount" formControlName="discount" />
                                    </div>
                                </div>
                            </div> -->


                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary" (click)="onSubmit()" rippleEffect>
                                        Generate Plan
                                      </button>


                                </div>
                            </div>


                        </form>
                    </div>
                </core-card-snippet>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12" *ngIf="show">
                <core-card-snippet>
                    <div class="row card-title" style="width: 100%">
                        <div class="col-12 pr-0">
                            <span class="card-title">Plan Information</span>
                            <span class="float-right">
                  <div class="d-flex align-items-center justify-content-end">
                    <button type="submit" class="btn btn-success print-hide" (click)="onSave()" rippleEffect>
                        Save Plan
                      </button>
                    <button type="submit" class="btn pull-right ml-2 btn-danger print-hide" (click)="onPrint()" rippleEffect>
                        print
                      </button>
                  </div>
    
                  <!-- <i data-feather="filter" class="text-primary cursor-pointer mr-50"></i> -->
                </span>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered fw-800">
                            <tbody>
                                <tr>
                                    <td>
                                        Client name
                                    </td>
                                    <td>
                                        {{this.PlanInfo?.client}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Contact#
                                    </td>
                                    <td>
                                        {{this.PlanInfo?.contact}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rate Sqft.
                                    </td>
                                    <td>
                                        {{this.PlanInfo?.apartmentrate | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Gross Area Sqft.
                                    </td>
                                    <td>
                                        {{this.PlanInfo.apartmentarea | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total Price in PKR
                                    </td>
                                    <td>
                                        {{this.PlanInfo.apartmenttotalprice | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Apartment
                                    </td>
                                    <td>
                                        {{this.PlanInfo.apartmenttype}}-{{this.PlanInfo.type}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Apartment Name
                                    </td>
                                    <td>
                                        {{this.PlanInfo.apartmentname}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <table class="table table-bordered fw-800">
                            <thead class="fw-1200">
                                <th>
                                    Payment Terms
                                </th>
                                <th>
                                    Percentage
                                </th>
                                <th>
                                    Amount (PKR)
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Booking
                                    </td>
                                    <td>
                                        {{PlanInfo?.booking}}%
                                    </td>
                                    <td>
                                        {{PlanInfo?.bookingamount | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Confirmation
                                    </td>
                                    <td>
                                        {{PlanInfo?.confirmation}}%
                                    </td>
                                    <td>
                                        {{PlanInfo?.confirmationamount | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Agreement
                                    </td>
                                    <td>
                                        {{PlanInfo?.agreement}}%
                                    </td>
                                    <td>
                                        {{PlanInfo?.agreementamount | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{PlanInfo.agreementamount+PlanInfo.bookingamount+PlanInfo.confirmationamount | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Balance in Installments
                                    </td>
                                    <td>
                                        {{100- (PlanInfo.agreement+PlanInfo.booking+PlanInfo.confirmation+PlanInfo.possession)}}%
                                    </td>
                                    <td>
                                        {{PlanInfo?.installmentamount | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{PlanInfo.installment.text}} Amount
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{this.PlanInfo.perinstallmentamount | number:'1.0-0'}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Tenure For Installment
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{PlanInfo.plan}} years
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        No. of Installments
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{PlanInfo.planscehdule.length}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Possession
                                    </td>
                                    <td>
                                        {{PlanInfo?.possession}}%
                                    </td>
                                    <td>
                                        {{PlanInfo?.possessionamount | number}}
                                    </td>
                                </tr>
                                <tr *ngIf="this.PlanInfo.updatedat != null">
                                    <td>
                                        Plan Date
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{this.PlanInfo?.updatedat.seconds * 1000 | date }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </core-card-snippet>
            </div>
        </div>

        <div class="row" style="    background-image: url(/assets/images/Bedroonm.jpg);
        
        position: relative;">
            <div style="
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
"> </div>
            <div class="col-6" style="background-image: url('/assets/images/Dusk Masterplan-4.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            text-align: center;">

            </div>
            <div class="col-6">
                <div class="col-12" style="text-align: center;color: beige;padding-top: 20px;">
                    <h3 style="color:blanchedalmond;">
                        PRE LAUNCH PAYMENT PLAN
                    </h3>
                    <h4 style="color:blanchedalmond;">
                        THE GALLERIA RESINDENCES
                    </h4>
                    <h5 style="color:blanchedalmond;">
                        A PROJECT OF NIAZ ARBAZ PVT LTD.
                    </h5>
                    <p style="padding-top: 5px;">
                        Pre-Launch promotion on Special Rate of Rs.25,000 per Sqft for 20 Apartments on 7th & 8th Floor for only Two Months
                    </p>
                    <h5 style="color:blanchedalmond;">
                        On First Come First Serve Basis
                    </h5>
                </div>
                <div class="col-12 col-md-12" *ngIf="show" style="padding-top: 40px; padding-bottom:40px;">


                    <div class="tables" style="background-color: white;">
                        <table class="table table-bordered fw-800">
                            <tbody>
                                <tr>
                                    <td style="background-color:blanchedalmond;">
                                        Client name
                                    </td>
                                    <td>
                                        {{this.PlanInfo?.client}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Contact#
                                    </td>
                                    <td>
                                        {{this.PlanInfo?.contact}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rate Sqft.
                                    </td>
                                    <td>
                                        {{this.PlanInfo?.apartmentrate | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Gross Area Sqft.
                                    </td>
                                    <td>
                                        {{this.PlanInfo.apartmentarea | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total Price in PKR
                                    </td>
                                    <td>
                                        {{this.PlanInfo.apartmenttotalprice | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Apartment
                                    </td>
                                    <td>
                                        {{this.PlanInfo.apartmenttype}}-{{this.PlanInfo.type}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Apartment Name
                                    </td>
                                    <td>
                                        {{this.PlanInfo.apartmentname}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <table class="table table-bordered fw-800">
                            <thead class="fw-1200">
                                <th>
                                    Payment Terms
                                </th>
                                <th>
                                    Percentage
                                </th>
                                <th>
                                    Amount (PKR)
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Booking
                                    </td>
                                    <td>
                                        {{PlanInfo?.booking}}%
                                    </td>
                                    <td>
                                        {{PlanInfo?.bookingamount | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Confirmation
                                    </td>
                                    <td>
                                        {{PlanInfo?.confirmation}}%
                                    </td>
                                    <td>
                                        {{PlanInfo?.confirmationamount | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Agreement
                                    </td>
                                    <td>
                                        {{PlanInfo?.agreement}}%
                                    </td>
                                    <td>
                                        {{PlanInfo?.agreementamount | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{PlanInfo.agreementamount+PlanInfo.bookingamount+PlanInfo.confirmationamount | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Balance in Installments
                                    </td>
                                    <td>
                                        {{100- (PlanInfo.agreement+PlanInfo.booking+PlanInfo.confirmation+PlanInfo.possession)}}%
                                    </td>
                                    <td>
                                        {{PlanInfo?.installmentamount | number}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{PlanInfo.installment.text}} Amount
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{this.PlanInfo.perinstallmentamount | number:'1.0-0'}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Tenure For Installment
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{PlanInfo.plan}} years
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        No. of Installments
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{PlanInfo.planscehdule.length}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Possession
                                    </td>
                                    <td>
                                        {{PlanInfo?.possession}}%
                                    </td>
                                    <td>
                                        {{PlanInfo?.possessionamount | number}}
                                    </td>
                                </tr>
                                <tr *ngIf="this.PlanInfo.updatedat != null">
                                    <td>
                                        Plan Date
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{this.PlanInfo?.updatedat.seconds * 1000 | date }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <h3 style="color:blanchedalmond;">
                            Note
                        </h3>
                        <ul style="color:blanchedalmond;">
                            <li>
                                Prime Location Charges will be applied where applicable
                            </li>
                            <li>
                                Prices are subjected to change without prior notics
                            </li>
                            <li>
                                Actual measurements will be available after completion and prices will be adjusted accordingly
                            </li>
                            <li>
                                Clients leasing money from the bank to pay monthly installment for our inventory
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12">
                <core-card-snippet>
                    <div class="card-title">
                        Installment Plan
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Month
                                        </th>
                                        <th>
                                            Amount (PKR)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of PlanSchedule">
                                        <td>
                                            {{ (p.invoicedueon.seconds != undefined ? p.invoicedueon.seconds * 1000 : p.invoicedueon) | date:"dd/MM/yyyy" }}
                                        </td>
                                        <td>
                                            {{p.amount | number}}
                                        </td>

                                    </tr>
                                    <tr *ngIf="show">
                                        <td>
                                            <h5>

                                                Total
                                            </h5>
                                        </td>
                                        <td>
                                            <h5>
                                                {{this?.PlanInfo?.installmentamount | currency}}
                                            </h5>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>








                    </div>
                </core-card-snippet>

              
            </div>
        </div> -->

    </div>
</div>