<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Responsive Datatable -->
        <section id="ngx-datatable-Responsive">
            <core-card-snippet>
                <div class="row card-title" style="width: 100%">
                    <div class="col-12 pr-0">
                        <span class="card-title">View Sales</span>
                        <span class="float-right">
          <div class="d-flex align-items-center justify-content-end">
            <label class="d-flex align-items-center"
              >Search<input
                type="search"
                placeholder="Search"
                class="form-control ml-25"
                (keyup)="filterUpdate($event)"
            /></label>
          </div>

          <!-- <i data-feather="filter" class="text-primary cursor-pointer mr-50"></i> -->
        </span>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mb-50 pl-0">


                            <a csvLink [data]="exportCSVData" class="btn btn-outline-secondary float-right mr-1" rippleEffect>Export CSV</a
          >
        </div>

       
      </div>

      <!-- ngx-datatables responsive -->
      <ngx-datatable
        #table
        class="bootstrap core-bootstrap"
        [columnMode]="ColumnMode.force"
        [headerHeight]="30"
        [rowHeight]="35"
        [footerHeight]="40"
        rowHeight="auto"
        [limit]="100"
        [rows]="apt"
        [scrollbarH]="true"
      >
        <ngx-datatable-column name="Name" prop="customername">
          <ng-template
            let-row="row"
            let-name="value"
            ngx-datatable-cell-template
          >
            {{ row.customername }}
            
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="Cnic"
          prop="customercnic"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Apartment Name"
          [width]="250"
          prop="apartmentname"
        ></ngx-datatable-column>
        <ngx-datatable-column name="Plan (Years)" prop="plan">
        </ngx-datatable-column>
        <ngx-datatable-column name="Gross Area Sqft" >
          <ng-template
          let-row="row"
          let-name="value"
          ngx-datatable-cell-template
        >
          {{ row.apartmentarea | number }}
          
        </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Installments" >
          <ng-template
          let-row="row"
          let-name="value"
          ngx-datatable-cell-template
        >
          {{ row.installment.text }}
          
        </ng-template>
        </ngx-datatable-column>
        

        <ngx-datatable-column name="Total Price">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{ row.apartmenttotalprice | mycurrency }} </span>
          </ng-template>
        </ngx-datatable-column>

        
        <ngx-datatable-column
          name="Action"
          [width]="120"
          [sortable]="false"
        >
          <ng-template ngx-datatable-cell-template let-row="row">
            <div class="d-flex align-items-center">
              <div ngbDropdown container="body">
                <a
                  ngbDropdownToggle
                  href="javascript:void(0);"
                  class="hide-arrow"
                  id="dropdownBrowserState"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i
                    data-feather="more-vertical"
                    class="text-primary cursor-pointer mr-50"
                  ></i>
                </a>
                            <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">




                                <a routerLink="/sales/{{row.id}}" ngbDropdownItem class="d-flex align-items-center"> View Sale</a
                    >
                </div>
              </div>

              

              
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <!--/ ngx-datatables responsive -->
  </core-card-snippet>
</section>
<!--/ Responsive Datatable -->
</div>
</div>