<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">{{PdfTitle}} </h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus id="content" #content>

    <button type="button" class="mb-2 btn btn-primary" (click)="generatePdf()" aria-label="Close">
       Save PDF
        </button>
    <table class="table  table-bordered pdftable">
        <thead>
            <tr>
                <th scope="col" sortable="customer" (sort)="onSort($event)">
                    Customer
                </th>
                <th scope="col" sortable="apartmentname" (sort)="onSort($event)">
                    Apartment Name
                </th>
                <th scope="col" sortable="type" (sort)="onSort($event)"> Apartment Type</th>


            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let inst of apt" (click)="dismissdialog()" routerLink="/sales/{{this.inst.id}}">

                <td> {{inst.customer}} </td>

                <td> {{inst.apartmentname}} </td>
                <td> {{inst.type}}</td>


            </tr>
        </tbody>
    </table>

</div>