@import '@core/scss/core.scss';
@import './assets/scss/styles';
@import '@core/scss/base/bootstrap-extended/include';
@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';
.transparent .modal-content {
    background-color: transparent !important;
    box-shadow: none !important;
    /* box-shadow: 0 5px 20px 0 rgb(34 41 47 / 10%); */
}

.transparent {
    background-color: transparent !important;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.swal2-input {
    max-width: 100% !important;
}

.card .card {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%) !important;
}

@media print {
    @page {
        margin: 0;
    }
    .invoice-actions,
    .main-menu,
    .print-hide,
    .buy-now {
        visibility: hidden;
    }
    .printRef {
        max-width: 100% !important;
        flex: 0 0 100%;
    }
}

.brouchure td {
    border: 1px solid black;
}

.datatable-body-cell {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
}

.ngx-datatable.bootstrap {
    box-shadow: none;
    font-size: 13px;
    font-weight: bold;
}

.table th,
.table td {
    padding: 0.5rem 1rem;
    vertical-align: middle;
}

body {
    font-weight: bold;
    line-height: 1;
    color: #1e1e1e;
}