@import '@core/scss/core.scss';
@import './assets/scss/styles';
@import '@core/scss/base/bootstrap-extended/include';
@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';
.transparent .modal-content {
    background-color: transparent !important;
    box-shadow: none !important;
    /* box-shadow: 0 5px 20px 0 rgb(34 41 47 / 10%); */
}

.transparent {
    background-color: transparent !important;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.swal2-input {
    max-width: 100% !important;
}

.card .card {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%) !important;
}

@media print {
    @page {
        margin: 0;
    }
    .invoice-actions,
    .main-menu,
    .print-hide,
    .buy-now {
        visibility: hidden;
    }
    .printRef {
        max-width: 100% !important;
        flex: 0 0 100%;
    }
}

.brouchure td {
    border: 1px solid black;
}

.datatable-body-cell {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
}

.ngx-datatable.bootstrap {
    box-shadow: none;
    font-size: 13px;
    font-weight: bold;
}

.table th,
.table td {
    padding: 0.5rem 1rem;
    vertical-align: middle;
}

body {
    font-weight: bold;
    line-height: 1;
    color: #1e1e1e;
}

.table {
    color: #020202;
}

.card .card-title {
    font-weight: bold;
}

.text-primary {
    color: #ac8b5f !important;
}

.main-menu.menu-light .navigation>li.active>a {
    background: linear-gradient(118deg, #ac8b5f, rgba(206, 185, 146, 0.7));
    box-shadow: 0 0 10px 1px rgb(206 185 146 / 70%);
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
}

.btn-primary {
    border-color: #ac8b5f !important;
    background-color: #ac8b5f !important;
    color: #fff !important;
}

.main-menu .navbar-header .navbar-brand .brand-text {
    color: #ac8b5f;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #fff;
    background-color: #ac8b5f !important;
}

.btn-primary:hover:not(.disabled):not(:disabled) {
    box-shadow: 0 8px 25px -8px #ac8b5f;
}

.badge.badge-light-primary {
    background-color: rgba(115, 103, 240, 0.12);
    color: #ac8b5f !important;
}

.vl .feather {
    color: #ac8b5f !important;
}

$invoiceyellowcolor: #ceb992;
.bt-plan .feather {
    color: #ceb992 !important;
}